* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #242424;
  max-height: ;
}

.bar {
  margin: 10px;
  height: 40px;
  width: 40px;
  background-color: #2e2e2e;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.cover {
  height: 7vh;
  padding: 10px;
  background-color: #131d24;
  display: flex;
  width: 100%;
}

.hr {
  border: 3px solid lime;
  margin-top: 10px; 
}

.one, .two {
  border: 3px solid tomato;
  opacity: 50%;
}

.one {
  animation: crossdown 1s ease;
}

.two {
  animation: crossup 1s ease;
}

@keyframes crossdown {
  to {
    transform: rotate(45deg);
    opacity: 100%;
    
  }
}

@keyframes crossup {
  to {
    margin-top: -5px;
    transform: rotate(-45deg);
    opacity: 100%;
  }
}

.done {
  transform: rotate(45deg);
  border: 3px solid tomato;
  opacity: 100%;
}

.finish {
  margin-top: -5px;
  transform: rotate(-45deg);
  border: 3px solid tomato;
  opacity: 100%;o
}

.title {
  color: azure;
  border-bottom: 4px solid #23e45f;
  text-align: center;
  padding-top: 20px;
  height: 5.5vh;
  margin: -10px 0 0 20%;
  font-size: 2.4rem;
  transform: skew(-20deg);
  font-weight: 1000;  
}

.leta1 {
  color: tomato;
  font-weight: 1000;
  font-size: 2.5rem;
}

.leta2 {
  color: aqua;
}

.sports {
  font-size: 1.3rem;
}

.homePage {
  width: 80%;
  margin-left: 10%;
  background-color: #ccc;
  color: #131d24;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.toper {
  margin-top: 100px;
}

.contents {
  color: #131d24;
  font-size: 1.1rem;
  font-weight: 400;
}

.mover-tool {
  width: 100%;
  padding-bottom: 20px;
  background-color: transparent;/*#242424;#eeefff;*/
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: auto;
  margin-top: 50px;
  color: slateblue;
  text-align: center;
}

.svg {
  margin: 15px;
  color: ;
}

footer {
  text-align: center;
  padding: 20%;
  font-size: 0.9rem;
  font-weight: 400;
  color: #fff;
  background-color: #242422;
}

/*Toolbar Animation*/
.toolbar {
  margin-top: 10vh;
  height: 60vh;
  width: 80%;
  margin-left: -40%;
  background-color: #131f32;/*#23e45f;*/
  border-radius: 0 0 20px 0;
  position: fixed;
  overflow-y: auto;
  color: aliceblue;
  padding-right: 40px;
}

.move {
  animation: moveout 1s ease;
}

@keyframes moveout {
  to {
    margin-left: 0%;
  }
}

.dif {
  margin-left: 0;
  border: none;
  font-size: 2rem;
  
}

.dif-tool {
  background-color: #131f32;
  margin-top: 10px;
  border-bottom: 3px solid #fff;
}

.mover {
  margin-top: 10vh;
  width: 80%;
  height: 60vh;
  background-color: #131f32;/*#23e45f;*/
  border-radius: 0 0 20px 0;
  overflow-y: auto;
  overflow-x: auto;
  position: fixed;
  color: aliceblue;
  padding-right: 40px;
}

.clean {
  height: 90vh;
  width: 57%;
  background-color: transparent;
  position: absolute;
  margin-left: 41%;
}

.mover-tool hr {
  width: 30%;
  margin-left: 35%;
}

.search-bar {
  height: 5vh;
  background-color: ;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  margin-top: 20px;
}

.search-bar input {
  height: 3.5vh;
  width: 90%;
  background-color: #eee;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.suggest {
  min-height: 1px;
  max-height: 50vh;
  position: fixed;
  background-color: #131f32;
  border-radius: 10px;
  width: 85%;
  text-align: center;
  padding: 20px;
  overflow-y: auto;
}

.value {
  height: 2vh;
  width: 90%;
  background-color: ;
  border-radius: 10px;
  font-size: 1rem;
  padding: 10px;
  text-align: left;
  color: #fff;
  font-weight: 500;
  margin-top: 10px;
}

.no-result {
  height: 5vh;
  font-size: 0.8rem;
  font-weight: 400;
  color: #ccc;
  padding: 10px;
  
  
}

.exit {
  margin-top: 15px;
  height: 50px;
  border: none;
  width: 40%;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0 22px 24px 23px rgba(141, 145, 145, 0.6);
}
