.choose {
  height: 11vh;
  width: 100%;
  display: flex;
  background-color: ghostwhite;
}

.field-leg {
  width: 50%;
  height: 7vh;
  margin: 10px;
  border-radius: 10px;
  font-family: ;
  font-size: 1rem;
  font-weight: 500;
}
.select-leg {
  width: 95%;
  border: none;
  margin: 3%;
  height: 5vh;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 20px;
}
#table {
  border-top: 2px solid #131f32;
  border-bottom: 2px solid #131f32;
  border: none;
  background-color: #ccc;
  padding: 10px;
  width: ;
  overflow-x: auto;
}
table {
  border-collapse: collapse;
  text-align: center;
}

td, th {
  border: 1px solid #000;
  width: 10%;
  height: 3vh;
}

team {
  width: 15%;
}

tr:nth-of-type(even) {
  background-color: ghostwhite;
}

td:nth-child(8), td:nth-child(5)  {
  color: red;
}

td:nth-child(7), td:nth-child(4) {
  color: limegreen;
  font-weight: 1000;
}

.key-div {
  height: 18vh;
  padding: 10px;
  font-size: 1rem;
  font-weight: 500;
  border-top: 2px solid #131f32;
  margin-top: 10px;
  box-shadow: 0 12px 23px rgba(155,145,145,0.9);
}

.key-span {
  margin-left: 10%;
}